<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PengStubOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C810EAB61D3F0A0C008785C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C810EACC1D3F0A0D008785C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C810EAD71D3F0A0D008785C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
